<h1>Editing bible_text</h1>

<%= error_messages_for :bible_text %>

<% form_for(@bible_text) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @bible_text %> |
<%= link_to 'Back', bible_texts_path %>
