%h3 Editando Commentario

- form_for(@comment, :url => { :action => "update" } ) do |f| 
  = f.error_messages 
  = render :partial => "form", :locals => { :f => f, :comment => @comment }
  = f.submit "Salvar"
 
= link_to 'Volver', admin_comments_path
