index/*
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
Thumbs.db
doc/api
doc/app
config/memcached.yml
config/database.yml
config/amazon_s3.yml
config/ferret_server.yml
public/files
public/buletins
public/images/simple_captcha
.svn
tmp/
config/development.sphinx.conf
db/*.lzma
db/*.sql 
db/sphinx/
log/
