
%h2 Nuevo Articulo

- form_for(@article, :url => admin_articles_path ) do |f| 
  = f.error_messages
  = render :partial => 'form', :locals => { :f => f, :article => @article }
  = f.submit 'Crear', :name => 'create'
  
= link_to 'Volver', admin_articles_path