<% @articles.each do |article| %>
	<% if article.approved %>
	<div class="post">
		<h1> <%= link_to article.title, "/articulo/#{article.permalink}" %> </h1>
		<%= truncate(article.body, 140) %>
		<br />
		<span class="created_at"><%= article.created_at.strftime("%B %d, %Y") %></span>
		<%= link_to "leer mas..." , "/articulo/#{article.permalink}" %>
	</div>
	<% end %>
<% end %>
