<div class="main_search">
	<% form_for :search, :url => {:controller => "articles", :action => "search"} do -%>
		<%= text_field :search, :q, :size => 14 %>
		<%= submit_tag 'Buscar' %>
	<% end %>
</div>