<div class="main_search">
	<% form_for :search, :url => {:controller => "articles", :action => "search"} do -%>
		<%= text_field :search, :q, :size => 21 %>
		<%= submit_tag 'Buscar en el sitio' %>
	<% end %>
</div>