<div class="article">
	<h2 class="flash_notice"> Articulos Encontrados: </h2>
	<% if @articles && !@articles.empty? %>
		<%= render :partial => "articles_list" %>
	<% else %>
		<p class="red"> No Articles Found...</p>
	<% end %>
</div>
