<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="description" content="Comunidad Catolica Latina en Bangkok Tailandia"/>
	<meta name="keywords" content="Comunidad, Catholic, Latin, Latina, Hispano, Bangkok, Tailandia, Thailand, Spanish, Espanol, Espanhol, Misa, Mass, Church, Spanish"/> 
	<meta name="author" content="Comunidad Catolica Latina en Bangkok, Tailandia"/>
	<title> Comunidad Catolica Latina - articles index </title>
	
</head>
<body>

<div id="page">
	
	<div id="col-two">

	<div id="logo">
		<h1><a href="http://www.comunidad-catolica.com/">Comunidad Catolica</a></h1>
		<h2><a href="http://www.comunidad-catolica.com/">Donde los Catolicos Latinos se reunen en Bangkok</a></h2>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><a href="http://www.comunidad-catolica.com" title="Volver a Pagina Principal"><b>Home</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/articulo/quienes-somos" title="Quienes Somos"><b>Quienes Somos</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/users" title=""><b> Lista de Miembros </b></a></li>
			<li><a href="http://www.comunidad-catolica.com/boletines" title=""><b>Boletines</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/articulos" title=""><b>Articulos</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/noticias" title=""><b>Notícias</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/programas" title=""><b>Programas</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/actividades" title=""><b>Actividades</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/cumpleanos" title=""><b>Cumpleaños</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/articulo/contactenos" title=""><b>Contactenos</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/articulo/mapa" title=""><b>Mapa/Como llegar</b></a></li>		
		</ul>
	</div>
</div>

	
	<!-- end #col-two -->
	<div id="col-one">
		
		<div id="latest-posts">
			
			<div class="post">
					
				<div class="story">
					
					<br/>
					<p style="color: green"></p>

					<div class="post">

						<h2> <%= @subject %> </h2>
						<p> <%= @body %> </p>
		
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	

	<div style="clear: both;">&nbsp;</div>
	
	<div id="footer">

		<p> Comunidad Catolica Latina en Bangkok </p>
		<p> <b>“Porque donde hay dos o tres reunidos en mi Nombre, yo estoy presente en medio de ellos”.</b> (Mt 18, 20) <br/> Salesian Sisters 124 Saladaeng Road Bangkok 10500	</p>
		<p> comunidadcatolicabk@gmail.com</p>

	</div>

</div>
<!-- end #page -->


</body>
</html>
