	<div style="clear: both;">&nbsp;</div>
	<div id="footer">
		<p> Comunidad Catolica Latina en Bangkok </p>
		<p> footer </p>
		<secreto> 
			Iglesia Catolica en Bangkok tailandia.
			Catholic Church in Bangkok Thailand.
			Spanish Mass, misa en Español en Tailandia.
			Iglesia en Español en Bangkok Tailandia.
			Misa en espanol.
			misa en Italiano.
			Italian mass
		</secreto>
	</div>