.large_headline {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 44px;
	line-height: 40px;
	letter-spacing: -1px;
	color: #444;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-weight: 100;
}

.middle_headline {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;
}

.paragraph_text {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 14px;
	line-height: 20px;
	/*text-transform: uppercase;*/
	color: #444;
}
