%p
  %b Nombre:
  =h @message.name 


%p
  %b Email:
  =h @message.email 


%p
  %b Telefono:
  =h @message.phone_number 


%p
  %b Mensage:
  =h @message.body 


%p
  %b Urgente contacto:
  =h @message.urgent_contact 

