<% form_for :search, :url => {:action => "search"} do -%>
	<table>
		<tr>
			<td><%= text_field :search, :q, :size => 14 %></td>
			<td> <%= submit_tag 'Buscar Usuario' %> </td>
		</tr>
	</table>
<% end -%>