
<h1> Editando mi Informacion Personal </h1>

<% form_for(:user, :url => user_path(@user), :html => {:method => :put, :multipart => true}) do |f| %>

<%= render :partial => 'form', :locals => { :f => f, :user => @user } %>

<p><%= f.submit 'Salvar' %></p>
<% end -%>
