<div class="vertical_ad_feedjit">
  <!-- Recent Visitors -->
  <script type="text/javascript" src="http://feedjit.com/map/?bc=FFFFFF&amp;tc=494949&amp;brd1=336699&amp;lnk=494949&amp;hc=336699&amp;dot=FF0000"></script>
  <noscript>
    <a href="http://feedjit.com/">Feedjit Live Blog Stats</a>
  </noscript>
</div>

<div class="vertical_ad_feedjit">
  <!-- Live Traffic Feed -->
  <script type="text/javascript" src="http://feedjit.com/serve/?bc=FFFFFF&amp;tc=494949&amp;brd1=336699&amp;lnk=494949&amp;hc=336699&amp;ww=160">
  </script>
  <noscript>
    <a href="http://feedjit.com/">Feedjit Live Blog Stats</a>
  </noscript>
</div> 
