<form action="http://www.google.com/cse" id="cse-search-box" target="_blank">
  <div>
    <input type="hidden" name="cx" value="partner-pub-9909160342305569:bq4b5q3tjg1" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="21" />
    <input type="submit" name="sa" value="Buscar en Google" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
