<div class='article'>
  
  <br />
  <h2> Como Contactarnos </h2>
  <br />
  <h3>Lista de Miembros del Consejo Pastoral</h3>
  <ul>
  	<li>Sor Margarita Pérez (Asistencia Espiritual), 087 035 9003, E-mail: 
  	  <script language=javascript>
        document.write(EncMail("margarita", "fma.or.th"));
      </script>
  	</li> 
  	<li>Marcela Kelley (Boletín, Registro y Comunicaciones), 081-583 6989, 
  	  E-mail: 
  	  <script language=javascript>
        document.write(EncMail("mkelley507", "gmail.com"));
      </script> 
  	</li>
  	
  	<li>Eva Vichukit (Actividades), 086-510-9912, 
  	    E-mail: 
  	    <script language=javascript>
          document.write(EncMail("evavichukit", "yahoo.com"));
        </script>
  	</li>
  	<li>
  	  Patricia Gómez (Tesorera), 081-802-6584, 
  	  E-mail: 
  	  <script language=javascript>
      document.write(EncMail("patricia_chaiparnich", "yahoo.com"));
      </script>
  	</li>	
  </ul>
  
  
  <br />
  <h3>Catequesis de Confirmación y de Primera Comunión</h3>
  <ul>
  	<li>Esterlicia Lopez, </li>
  	<li>Cristina Gonzalez, </li>
  </ul>
  
  
  <br />
  <h3>Dirección:</h3>
  <ul>
  	<li>Casa Provincial de las Hermanas Salesianas</li>
  	<li>124 Saladaeng Road Bangkok 10500</li>
  	<li>Hna. Margarita Pérez: 087 035 9003</li>
  	<li>Telefonos: 02-233-3430, 02-234-5034</li>
  </ul>
  
  
  <br />
  <h3>E-mail:</h3>
  <ul>
  	<li>
  	  <script language=javascript>
      document.write(EncMail("comunidadcatolicabk", "gmail.com"));
      </script>
  	</li>
  </ul>
  
  
  <br />
  <h3>Administradores del sitio:</h3> 
  <ul>
  	<li>Marcela Kelley: 
  	  <script language=javascript>
        document.write(EncMail("mkelley507", "gmail.com"));
      </script>
  	</li>
  	<li>Frederico Araujo: 
  	  <script language=javascript>
        document.write(EncMail("fred.the.master", "gmail.com"));
      </script> 
  	  086-0588-264
  	</li>
  </ul>

  <br />
  <br />
  <h3>La Santa Misa en español se celebra todos los sábados a las 18 horas</h3>

</div>