<div class='article'>
  
  <br />
  <h3>Consejo Pastoral</h3>

  <ul class="bullet">
  	<li>Sor Margarita Pérez (Asistencia Espiritual), 087-035-9003: 
  	  <script language=javascript>
        document.write(EncMail("margarita", "fma.or.th"));
      </script>
  	</li> 
  	
  	<li>Debbie Greenberg (Coordinación)</li>
  	
  	<li>Marcela Kelley (Boletín, Registro y Comunicaciones), 081-583-6989:
  	  <script language=javascript>
        document.write(EncMail("mkelley507", "gmail.com"));
      </script> 
  	</li>
  	
  	<li>Mariela Bianciotti (Coro):
  	    <script language=javascript>
          document.write(EncMail("marielabian", "gmail.com"));
        </script>
  	</li>
  	
  	<li>Eva Vichukit (Actividades), 086-510-9912:
  	    <script language=javascript>
          document.write(EncMail("evavichukit", "yahoo.com"));
        </script>
  	</li>
  	
  	<li>Pedro Córdova (Lectores, Moniciones, Bienvenida):
  	    <script language=javascript>
          document.write(EncMail("pecomo", "gmail.com"));
        </script>
  	</li>
  	
  	<li>
  	  Patricia Gómez (Tesorera), 081-802-6584:
  	  <script language=javascript>
      document.write(EncMail("patricia_chaiparnich", "yahoo.com"));
      </script>
  	</li>	
  	
  </ul>
  
  
  <br />
  <h3>Catequesis de Confirmación y de Primera Comunión</h3>
  <ul class="bullet">
  	<li>Esterlicia López, MI</li>
  	<li>Cristina González, MI</li>
  </ul>
  
  
  <br />
  <h3>Dirección</h3>
  <ul>
  	<li>Casa Provincial de las Hermanas Salesianas</li>
  	<li>124 Saladaeng Road Bangkok 10500</li>
  	<li>Hna. Margarita Pérez: 087-035-9003</li>
  	<li>Teléfonos: 02-233-3430, 02-234-5034</li>
  </ul>
  
  
  <br />
  <h3>Correo electrónico</h3>
  <ul>
  	<li>
  	  <script language=javascript>
      document.write(EncMail("comunidadcatolicabk", "gmail.com"));
      </script>
  	</li>
  </ul>
  
  
  <br />
  <h3>Administradores del sitio:</h3> 
  <ul class="bullet">
  	<li>Marcela Kelley: 
  	  <script language=javascript>
        document.write(EncMail("mkelley507", "gmail.com"));
      </script>
  	</li>
  	<li>Frederico de Souza Araujo: 
  	  <script language=javascript>
        document.write(EncMail("fred.the.master", "gmail.com"));
      </script> 
  	  086-0588-264
  	</li>
  </ul>

  <br />
  <br />
  <h3 class="centered"><em>La Santa Misa en español se celebra todos los sábados a las 18 horas</em></h3>

</div>