<% if !authorized_admin? && RAILS_ENV == "production" %>
  <!-- Start of StatCounter Code -->
  <script type="text/javascript">
  var sc_project=4325693; 
  var sc_invisible=1; 
  var sc_partition=54; 
  var sc_click_stat=1; 
  var sc_security="417d000a"; 
  </script>

  <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><div class="statcounter"><a title="counter to blogger" href="http://www.statcounter.com/" target="_blank"><img class="statcounter" src="http://c.statcounter.com/4325693/0/417d000a/1/" alt="counter to blogger" ></a></div></noscript>
  <!-- End of StatCounter Code -->
<% end %>