<h1>Editing news</h1>

<%= error_messages_for :news %>

<% form_for(@news) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @news %> |
<%= link_to 'Back', news_path %>
