<table>
	<tr>
		<td> </td>
		<td><%= error_message_on :bible, :title, "Title ", "","inputError" %></td>
	</tr>
	<tr>
		<td> <label> Title </label></td>
		<td><%= text_field :bible, :title, :size => 12  %></td>
	</tr>
</table>
