<h2>Nuevo Libro</h2>

<div class="article">
<% form_for :book, :url => {:action => 'create'} do |f| %>

	<%= render :partial => "form" %>

<%= f.submit "Create" %>

<% end %>

<%= link_to 'Volver', books_path %>

</div>