/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #F7F7F7 url(/images/earth/img01.jpg) repeat left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #5A554E;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #32639A;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 2.1em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.2em;
	font-weight: normal;
}

p {
  margin: 1px;
}
p, ul, ol {
	margin-top: 0;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}

ul, ol {
  line-height: 200%;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: underline;
	color: #516C00;
}

a:hover {
	text-decoration: none;
}

h2 a {
	text-decoration: none;
}

textarea {
  font-family:  "Lucida Grande";
}


#wrapper {
	margin: 0px;
	padding: 0px;
	background: url(/images/earth/img02.jpg) repeat-x left top;
}

/* Header */

#header {
	width: 1000px;
	height: 235px;
	margin: 0 auto;
	padding: 0px;
	background: url(/images/earth/img03.jpg) no-repeat left top;
}
#header a,
#header img {
  text-decoration:none;
  border:none;
  margin:0;
}

/* Logo */

#logo {
	float: left;
	margin: 0;
	padding: 110px 0px 0px 30px;
/*  margin-top: -12px;*/
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#logo h1 {
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 44px;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin: -30px 0px 0px 0px;
	padding: 26px 0 0 2px;
	font: normal 19px Georgia, "Times New Roman", Times, serif;
	color: #C5E8FF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #C5E8FF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #E2E2E2;
	border-bottom: 4px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

#banner {
	margin-bottom: 20px;
	border: 12px #ECECEC solid;
}

/* Menu */

#menu {
	width: 1000px;
	height: 65px;
	margin: 0 auto;
	padding: 0;
	background: url(/images/earth/img04.jpg) no-repeat left top;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 5px 20px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 110px;
	height: 39px;
	margin-left: 8px;
	padding-top: 13px;
	background: url(/images/earth/img05.jpg) repeat-x left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	text-align: center;
	font-size: 17px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: orange;
}

#menu .current_page_item a {
	background: url(/images/earth/img06.jpg) no-repeat left top;
	padding-left: 0;
	color: #493E2B;
}

/* Page */

#page {
	width: 950px;
	margin: 0px auto;
	padding: 15px 15px 0px 35px;
	background: #FFFFFF;
}

/* Content */

#content {
	float: left;
	width: 622px;
	padding: 0px 0px 0px 0px;
}
#content label {
  font-size: 1.2em;
}
#content input,
#content textarea {
  /*font-family:  "Lucida Grande" verdana;*/
  font-size: 1.2em;
  border: 1px solid #888;
  padding: 4px;
  color: #333;
}

.article {
  margin: 0px 0px 40px 0px;
}

.article .header {
	margin: 0px;
	padding: 0px;
	margin: 0 0 2px 0;
	color: #493E2B;
}

.article .header a {
	color: #493E2B;
	border: none;
  /*border-bottom: 1px dashed #aaa;*/
}
.article .header p {
  margin: 4px 2px 4px 2px;
}

.article .meta {
	margin: -10px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	letter-spacing: -1px;
	font-size: 23px;
	font-weight: normal;
	color: #6E8D3D;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.article .meta .date {
	float: left;
}

.article .meta .articleed {
	float: right;
}

.article .meta a {
}

.article .entry {
	background: url("/images/earth/img08.jpg") no-repeat left top;
	padding: 22px 0px 0px 0px;
	text-align: justify;
	font-size: 1.1em;
}
.article ul {
  margin: 20px 0 20px 0;
}
.article ul li {
  list-style-type: circle;
  margin: 6px 6px 6px 20px;
  padding: 0;
  line-height: 1.4em;
}

.links {
	padding-top: 10px;
	padding-bottom: 20px;
}

.more {
	padding-left: 16px;
	background: url(/images/earth/img10.gif) no-repeat left 3px;
	text-decoration: underline;
	font-size: 1.0em;
	font-weight: normal;
}

.comments {
	padding-left: 18px;
	background: url(/images/earth/img11.gif) no-repeat left 4px;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 270px;
	padding: 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 20px;
	margin-left: 5px;
}

#sidebar li li {
	/*line-height: 35px;*/
	margin: 0px;
	padding: 2px 0px;
	border-left: none;
}

#sidebar ul li ul.items li {
  font-size: 1.1em;
/*  list-style-type: none/disc/circle/square;*/
  list-style-type: circle;
  margin-left: 15px;
}

#sidebar ul.links li {
  font-size: 1.1em;
/*  list-style-type: none/disc/circle/square;*/
  list-style-type: disc;
  margin-left: 15px;
}

#sidebar li li span {
	height: 19px;
	margin-right: 8px;
	padding: 4px 12px;
	background: #3D2A0B url(/images/earth/img12.jpg) repeat-x left top;
	font-size: 12px;
	color: #FFFFFF;
}

#sidebar li li span a {
	color: #FFFFFF;
}

#sidebar h2 {
	height: 64px;
	background: url(/images/earth/img09.jpg) no-repeat left bottom;
	/*letter-spacing: -.5px;*/
	font-size: 24px;
	color: #493E2B;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 0px 30px 0px;
	text-align: justify;
}

#sidebar p strong {
	color: #4A3E29;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer-content {
	width: 900px;
	height: 265px;
	margin: 0 auto;
	padding: 50px 50px 0px 50px;
	background: url('/images/earth/img15.jpg') no-repeat left top;
	font-size: 12px;
	color: #887450;
}

#footer-content .column1 {
/*  background: url('/images/footer_logo.png') no-repeat left top;
  padding-left: 160px;*/
	float: left;
	width: 570px;
}

#footer-content .column2 {
	float: right;
	width: 273px;
}

#footer-content h2 {
	padding-bottom: 10px;
	font-size: 22px;
	color: #E3D2B6;
}

#footer-content strong {
	color: #E3D2B6;
}

#footer-content a {
	color: #AA8B55;
}

#footer-content a:hover {
	color: #AA8B55;
}

.list li {
	margin-bottom: 6px;
}

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #82A2B9;
}

#footer a {
	text-decoration: underline;
	color: #82A2B9;
}

.created_at {
	font-size:1.05em;
	font-style: italic;
	margin: 1px;
}
.created_at_up {
  color: #666;
	font-size:1.05em;
	font-style: italic;
	margin: 0px 2px;
	border:none;
}


/* Comments CSS */
.comment {
	width: 80%;
	margin: 15px 5px; 
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #FAFAFA; 
}

#thankyou {
  font-size:1.2em;
  padding: 4px;
  margin: 5px;
}

.error,
.notice, 
.success    { 
  padding: 0.6em 0.8em; 
  margin-bottom: 1em; 
  border: 2px solid #ddd; 
  font-size:1.1em;
}

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }


blockquote {
  font-style: italic;
  font-size: 1.0em;
  color: #333;
  border: 1px dashed #bbb;
  padding: 20px 20px 80px 20px;
  margin: 20px 20px 5px 5px;
  background: url("/images/mail.png") no-repeat bottom right;
}